.linkedin-button {
  background-color: #2e54a2;
  color: #ffffff;
}

.google-button {
  background-color: #ffffff;
  border: 1px solid lightgrey;
  color: gray;
}

.social {
  margin-bottom: -6px;
}



.mat-flat-button  {
  padding: 6px !important;
}

a {
  color:  #00838f !important;
}
