<div class="back-ground-image bg-edge2edge">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <mat-toolbar>
                <div class="home-wrapper"></div>
                <div class="social-wrapper">
                    <span class="example-spacer"></span>

                    <button mat-icon-button class="social-button" (click)="toggleLanguage()">
                        <span class="lang-text">{{ "Auth.lang" | translate}}</span>
                    </button>
                </div>
            </mat-toolbar>

            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#00838f" type="ball-clip-rotate-pulse"
                [fullScreen]="true">
            </ngx-spinner>
            <simple-notifications></simple-notifications>

            <router-outlet></router-outlet>

        </div>
    </div>
</div>