.mat-radio-button {
    margin-left: 5px;
    margin-right: 5px;
}

.code-number{
    text-align: center !important;
}

.back-button {
    background-color: #ffffff;
    border: 1px solid lightgrey;
    color: gray;
  }
  @media screen and (max-width: 768px) {
    
     .card-container {
        padding: 0;     
    }
  
    .mat-form-field {
        padding: 6px;
    }      
  }


  .mat-flat-button  {
    padding: 6px !important;
  }
  
  a {
    color:  #00838f !important;
  }
  


  