<div class="container">

    

    <div class="row col-md-12 justify-content-center">
        <img src="../../../assets/icons/resetPassword.png">
    </div>

    <br />
    <br />

    <div class="text-center">
        <h1>{{ 'Auth.resetPassword.resetYourPassword' | translate }}</h1>
    </div>

    <div class="col-md-12 text-center">
        {{ 'Auth.resetPassword.feelingLost' | translate }}
        <a>{{ 'Auth.resetPassword.login' | translate }}</a>
        {{ 'Auth.resetPassword.or' | translate }}
        <a>{{ 'Auth.resetPassword.register' | translate }}</a>
    </div>

    <br />

    <form>
        <mat-form-field class='col-md-12'>
            <mat-label>{{ 'Auth.signUp.emailAddress' | translate }}</mat-label>
            <input type="text" matInput />
        </mat-form-field>
    </form>

    <br />

    <div class="col-md-12 text-center">
        <button mat-flat-button class="col-md-12" color="primary">
            {{ 'Auth.resetPassword.resetYourPassword' | translate}}
        </button>
    </div>

    <br />
    <br />


</div>