<div class="container card-container">
    <div *ngIf="currentStep == 1">

        <div>
            <br />
            <div class="row col-md-12 justify-content-center">
                <img src="../../../assets/icons/resetPassword.png">
            </div>
            <br />
            <br />
        </div>

        <div class="text-center">
            <h1>{{ 'Auth.resetPassword.resetYourPassword' | translate }}</h1>
        </div>

        <div class="col-md-12 text-center">
            {{ 'Auth.resetPassword.feelingLost' | translate }}
            <a>{{ 'Auth.resetPassword.login' | translate }}</a>
            {{ 'Auth.resetPassword.or' | translate }}
            <a>{{ 'Auth.resetPassword.register' | translate }}</a>
        </div>

        <br />
        <br />
        <br />

        <di class="col-md-12 d-flex justify-content-center">
            <mat-radio-group color="primary" value='1' (change)="radioChange($event.value)">
                <mat-radio-button value="1">{{ 'Auth.resetPassword.emailAddress' | translate }}</mat-radio-button>
                <mat-radio-button value="2">{{ 'Auth.resetPassword.mobileNumber' | translate }}</mat-radio-button>
            </mat-radio-group>
        </di>
        <br />
        <mat-form-field *ngIf="showEmail" class='col-md-12'>
            <mat-label>{{ 'Auth.resetPassword.emailAddress' | translate }}</mat-label>
            <input type="text" matInput (keyup)="setEmailValue($event.target.value)"/>
        </mat-form-field>

        <mat-form-field *ngIf="showMobileNumber" class='col-md-12'>
            <mat-label>{{ 'Auth.resetPassword.mobileNumber' | translate }}</mat-label>
            <input type="text" matInput (keyup)="setMobileNumberValue($event.target.value)"/>
        </mat-form-field>

        <br />

        <div class="col-md-12 text-center">
            <button mat-flat-button class="col-md-12" color="primary"
                    [disabled]="emailValue == '' && mobileNumberValue =='' "    (click)="onResetClick()">
                {{ 'Auth.resetPassword.resetYourPassword' | translate}}
            </button>
        </div>

    </div>


    <div *ngIf="currentStep == 2">

        <div>
            <br />
            <div class="row col-md-12 justify-content-center">
                <img src="../../../assets/icons/resetPassword.png">
            </div>
            <br />
            <br />
        </div>

        <div class="text-center">
            <h1>{{ 'Auth.resetPassword.updatePassword' | translate }}</h1>
        </div>

        <div class="col-md-12 text-center">
            {{ 'Auth.resetPassword.enterCode' | translate }}
        </div>
        <br/>
        <div class="col-md-12 text-center">
            {{ showEmail ? emailValue : mobileNumberValue}}
        </div>
        <br />

        <div>
            <mat-form-field class='col-2 col-md-2 col-sm-2' appearance="outline">
                <input class="code-number" id="1" type="number" matInput (keyup)="validateCodeNumber($event)"/>
            </mat-form-field>
        
            <mat-form-field class='col-2 col-md-2 col-sm-2' appearance="outline">
                <input class="code-number" id="2"  type="number" matInput (keyup)="validateCodeNumber($event)"/>
            </mat-form-field>
        
            <mat-form-field class='col-2 col-md-2 col-sm-2' appearance="outline">
                <input class="code-number" id="3" type="number" matInput (keyup)="validateCodeNumber($event)" />
            </mat-form-field>
        
            <mat-form-field class='col-2 col-md-2 col-sm-2' appearance="outline">
                <input class="code-number" id="4" type="number" matInput (keyup)="validateCodeNumber($event)"/>
            </mat-form-field>
        
            <mat-form-field class='col-2 col-md-2 col-sm-2' appearance="outline">
                <input class="code-number" id="5" type="number" matInput (keyup)="validateCodeNumber($event)"/>
            </mat-form-field>
        
            <mat-form-field class='col-2 col-md-2 col-sm-2' appearance="outline">
                <input class="code-number" id="6" type="number" matInput  (keyup)="validateCodeNumber($event)"/>
            </mat-form-field>
        </div>


        <div class="row text-center confirmation-code-actions">
            <div class="col-md-6 mb-2" >
                <button mat-flat-button class="col-md-12" color="primary">
                    {{ 'Auth.resetPassword.resend' | translate}}
                </button>
            </div>
            <div class="col-md-6" >
                <button mat-flat-button class="col-md-12 back-button" (click)="backToEmail()" >
                    {{ 'Auth.resetPassword.back' | translate}}
                </button>
            </div>
            
            
        </div>
    </div>


    <div *ngIf="currentStep == 3">

        <div>
            <br />
            <div class="row col-md-12 justify-content-center">
                <img src="../../../assets/icons/resetPassword2.png">
            </div>
            <br />
            <br />
        </div>


        <div class="text-center">
            <h1>{{ 'Auth.resetPassword.updatePassword' | translate }}</h1>
        </div>

        <br />
        <form [formGroup]="updatePasswordForm">

            <mat-form-field class='col-md-12'>
                <mat-label>{{ 'Auth.resetPassword.newPassword' | translate }}</mat-label>
                <input matInput placeholder="{{'Auth.signUp.sixCharactersAtLeast' | translate}}"
                    [type]="hidePassword ? 'password' : 'text'" type="password" fromControlName='newPassword' />
                <i class="fa fa-eye" matSuffix (click)="hidePassword = !hidePassword"></i>
            </mat-form-field>

            <mat-form-field class='col-md-12'>
                <mat-label>{{ 'Auth.resetPassword.repeatPassword' | translate }}</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" type="password"
                    fromControlName='repeatPassword' />
                <i class="fa fa-eye" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"></i>
            </mat-form-field>

            <br />
            
        </form>
        <div class="col-md-12 text-center">
            <button mat-flat-button class="col-md-12" color="primary">
                {{ 'Auth.resetPassword.updatePassword' | translate}}
            </button>
        </div>
    </div>


    <br />
    <br />


</div>