img {
  max-height: 111.19px;
  max-width: 218.797;
  cursor: pointer;
  filter: gray !important;
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
}

img:hover {
  filter: none !important;
  -webkit-filter: grayscale(0);
}
