<div class="home-back-ground">
    <div class="container ">
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="row justify-content-center">
            <h1 class="text-white"><b>Start Your Search Here</b></h1>
        </div>

        <br />
        <br />

        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 search-wrapper d-flex justify-content-center">
                <label class="search-label col-1"><i class="fa fa-search search-icon" aria-hidden="true"></i></label>
                <input type=text placeholder="Search" class="col-9 search-Field">
                <button mat-flat-button class="col-2 search-button" color="primary">
                    Search
                </button>
            </div>
        </div>

        <br />
        <br />

        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-10 col-lg-8 justify-content-center add-div">
                <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-center mb-3">
                    <div class="col-5">
                        <img src="../../../assets/icons/addBusiness.png">
                    </div>
                    <div class="col-7">
                        <h3><b class="text-white">ADD A BUSINNESS</b></h3>
                        <p class="text-white">Over 121,203 Corprate Entities And Growing</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-center mb-3">
                    <div class="col-5">
                        <img src="../../../assets/icons/addPerson.png">
                    </div>
                    <div class="col-7">
                        <h3><b class="text-white">ADD A PERSON</b></h3>
                        <p class="text-white">Over 121,203 Decision Makers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>

<div class="container text-center">
    <h1>
        <b>Our </b>
        <b style="color: #D64933;">Clints</b>
   </h1>
    <app-carousel [type] ="'clients'"></app-carousel>
</div>
<br/>
<br/>

<div class="container text-center">
    <h1>
         <b>Our </b>
         <b style="color: #D64933;">Partners</b>
    </h1>
    <app-carousel [type] ="'partners'"></app-carousel>
</div>

<br/>
<br/>

